[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ckeditor = "*"
pillow = "*"
pylint = "*"
pylint-django = "*"
pylint-celery = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
webempresa = "python3 webempresa/manage.py runserver"