{% extends 'core/base.html' %} <!-- Es el layout de la pagina principal-->
{% load  static %}
{% block title %}Historia{% endblock %}
{% block container %}
   <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img_bar/Ruzanuvol-cerveceria.jpeg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">POOL-BAR MAICK Familiar Italiano</span>
                  <span class="section-heading-lower">Nuestros inicios</span>
                </h2>
                  <p>Nos dimos a conocer en 2010 con el nombre Ruzanuvol-cerveceria donde ofreciamos cerveza artesanal y normal
                  en diferentes presentanciones y contabamos con paquetes y promociones los viernes.</p><br>
                  <p>El negocio comenzo a crecer en el 2015 donde ya eramos conocidos en la localidad de la colonia tuvimos una expasion
                  interna  donde comenzamos a incorporar otro tipo de bebidas (vinos y licores) ahi es donde el establecimiento dio un giro de 360º
                  una remodelacion del establecimiento como un nuevo nombre y slogan marca ya registrada MAICK 2017.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}