{% extends 'core/base.html' %} <!-- Es el layout de la pagina principal-->
{% load  static %}
{% block title %}Visitanos{% endblock %}
{% block container %}
  <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">"Te esperamos"</span>
                <span class="section-heading-lower">HORARIOS</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Miercoles a Viernes
                  <span class="ml-auto">7:00pm a 12:00am</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Sábados
                  <span class="ml-auto">8:00pm a 1:00am</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Domingos
                  <span class="ml-auto">9:00pm a 3:00am</span>
                </li>
              </ul>
              <p class="address mb-5">
                <em>
                  <strong>Avd. Infusiones nº 127</strong>
                  <br>
                  Barcelona
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Llámanos y pregunta</em>
                </small>
                <br>
                (317) 585-8468
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}